extend layout/layout.pug
include mixins/category_tables.pug

block content
    section.section
        .container
            .content
                //- Table Of Contents
                .buttons
                    each category in mapping.Resources
                        - name_hyphen = category.toLowerCase().replace(/\s/g, '-').replace(/,/g, '')
                        a(href=`#title-resources-${name_hyphen}`).button.is-primary.is-outlined= category

                h2.title.is-2#title-resources Resources
            
                p Note: Paid resources may exist in a free limited version or a demo version

                each category in mapping.Resources
                    +category_resources(category)

block hero-foot
    .hero-foot
        nav.tabs.is-boxed.is-fullwidth
            .container
                ul
                    li
                        a(href='index.html') Overview
                    li
                        a(href='tools.html') Tools
                    li.is-active
                        a(href='resources.html') Resources
                    li
                        a(href='ctf_platforms.html') CTF platforms
                    li
                        a(href='operating_systems.html') Operating Systems

block optional-script-top
    //- TableFilter lib
    script(src='js/vendor/tablefilter/tablefilter.js')
    //- TableFilter base config for all tables
    script(src='js/tablefilter/base_config.js')
